<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__list__element"><a class="navigation__list__element__href" [routerLink]="['/formsTemplate']" routerLinkActive="active__button">Template Form</a></li>
        <li class="navigation__list__element"><a class="navigation__list__element__href" [routerLink]="['/formsReactive']" routerLinkActive="active__button">Reactive Form</a></li>
        <li class="navigation__list__element"><a class="navigation__list__element__href" [routerLink]="['/showData']" routerLinkActive="active__button">Pokaz Dane</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>